[package]
name = "satty"
version = "0.18.1"
edition = "2021"
authors = ["Matthias Gabriel <gabm+aur@mailbox.org>"]
description = "Modern Screenshot Annotation. A Screenshot Annotation Tool inspired by Swappy and Flameshot."
homepage = "https://github.com/gabm/satty"
repository = "https://github.com/gabm/satty"
license = "MPL-2.0"
include = [
  "src/**/*",
  "Cargo.toml",
  "Cargo.lock",
  "LICENSE*",
  "README.md",
  "assets/",
]


[dependencies]
relm4 = { version = "0.9.1", features = ["macros", "libadwaita", "gnome_42"] }
tokio = { version = "1.45.0", features = ["full"] }
gdk-pixbuf = "0.20.9"

# error handling
anyhow = "1.0"
thiserror = "2.0"

# command line
clap = { version = "4.5.37", features = ["derive"] }

# configuration file
xdg = "^3.0"
toml = "0.8.22"
serde = "1.0"
serde_derive = "1.0"
hex_color = {version = "3", features = ["serde"]}
chrono = "0.4.41"

# opengl rendering backend
femtovg = "0.14"
libloading = "0.8"
epoxy = "0.1.0"
glow = "0.16.0"
glib-macros = "0.20.7"
glib = "0.20.9"
resource = "0.6.0"  # font emedding
fontconfig = "0.9.0"  # font loading
keycode = "1.0.0"

[dependencies.relm4-icons]
version = "0.9.0"


[build-dependencies]
clap = { version = "4.5.37", features = ["derive"] }
clap_complete = "4.5.50"
clap_complete_nushell = "4.5.5"
clap_complete_fig = "4.5.2"
