[Desktop Entry]
Name=Satty
GenericName=Modern Screenshot Annotation.
TryExec=satty
Exec=satty -f %f
Terminal=false
NoDisplay=true
Type=Application
Keywords=wayland;snapshot;annotation;editing;
Icon=satty
Categories=Utility;Graphics;
StartupNotify=true
MimeType=image/png;image/jpeg;
StartupWMClass=com.gabm.satty
